html {
  scroll-behavior: smooth;
}



body {
    font-family: 'Manrope', 'extra-light', sans-serif;
}

.contener {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.cont {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
    width: 956px;
    height: 120px;
    margin: 50px 0px 20px 20px;
    padding: 0px;
    font-size: 60px;
    line-height: 100%;
    font-weight: 400;

}

.services h2 {
    width: 51px;
    height: 25px;
    margin: 50px 0px 30px 0px;
    font-size: 17px;
    font-weight: 400;
}
 


 .text  {
    bottom: 0px;
    width: 79px;
    margin: 0px 0px 0px 0px;
    color: #000;
 }
p {
   
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

h3 {
    font-size: 45px;
    font-weight: 400;
}

.interior {
    
    width: 1150px;
    
}

.interior-image {
    
    margin: 100px 0px 0px 0px;
    width: 1150px;
    height: 500px;
    
}

.info {
    padding: 10px;
    width: 430px;
    height: 81px; 
    margin: -110px 0px 0px 10px; 
}

.services {
    width: 1051px;
    height: 518px;
     margin: 150px 0px 0px 0px;
    
    padding: 100px 0;
}

.services-link {
    display: block;
    width: 255px;
    height: 67px;
    margin: 30px 0px 0px 0px;
    border: 1px solid #b10909;
    text-decoration: none;
    text-align: center;
    line-height: 67px;
    color: #ffffff;
    background: #b10909;
    border-radius: 10px;
}

.services-link:hover {
    background-color: #400101;
}


.projects {
  margin-bottom: 150px;
  padding: 150px 0;
  width: 1150px;
  
}

.project {
 margin-bottom: 150px;
  position: relative;
  width: 1150px;
  height: 548px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end; 
}

.project__title {
  position: absolute;
  bottom: -120px;
  left: 0px;
  margin: 0;
  font-size: 30px;
  color: rgb(10, 10, 10);
}

.project__link {
  position: absolute;
  bottom: -60px;
  left: 0px;
  text-decoration: none;
  color: rgb(153, 6, 6);
}
.projects__item.project {
    margin-bottom: 150px;
}


.project__link::after {
  content: " →";
}

.wrapper {
  position: relative;
}


.lin {
  position: absolute;
  top: 0px;

  width: 1150px;
  height: 153px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  color: #b10909;
  border: 1px solid #b10909;
  border-radius: 3px;
  background: #ffffff;
  margin-bottom: 150px;
  padding: 100px 0;
}

.link:hover {
    background-color: #400101;
    color: #ffffff;
}
.cont {
  width: 1150px;
}


.servic {
  margin: 0px auto;
  padding: 40px 0;
  background-color: #000000;
}


.servic__title {
  margin: 0px 20px;
  color: white;
  font-size: 40px;
}


.servic__list {
  margin: 0px 80px;
  width: 1400px;
  height: 1750px;
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  gap: 40px; 
}


.servic__item {
 margin-bottom: 40px;
 width: 1150px;
 color: white;
}

.servic__item img {
  width: 100%;
  display: block;
}


.servic__label {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 20px;
}


.nav {
    margin-top: 35px;
    
    width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
   
}

.menu {
    display: flex;
    gap: 60px;
    
  
}

.nav-link {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.03em;
}

.nav-link.active {
    color: #625858;
    text-decoration: underline;
}


.example {
  background-image: url('/resources/Rect.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
  background-position: center;
  height: 717px;
  margin-bottom: 150px;
}

.example__content {
  position: absolute;
  bottom: 60px;
  left: 200px;
  font-size: 30px;
  color: #ffffff;
  width: 443px;
}

.contacts {
margin: 150px;  
gap: 30px;
}

.contacts__title {
  font-size: 18px;
  margin-bottom: 30px;
}

.contacts__info {
   display: flex;             
  flex-direction: column; 
  gap: 30px;     
  font-size: 60px;
  margin-bottom: 150px;
}

.footer__logo {
  margin-bottom: 15px;
}

.footer {
  margin: 0 auto;
  height: 229px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer__menu {
  
  display: flex;
  gap: 30px;
}

.footer__copyright {
  position: absolute;
  bottom: 10px;
  font-size: 20px;
  color: #625858;
  letter-spacing: -0.03em;
}

.footer__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.03em;
}
.footer__link__active {
  text-decoration: underline;
  color: #625858;
}