/* ===== Reset ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== Базовые стили ===== */
body {
    font-family: 'Manrope', 'extra-light', sans-serif;
    background-color: #f4f4f4;
    color: #111;
    line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}



img {
    width: 100%;
    display: block;
}


.header {
    padding: 25px 0;
    background: #f4f4f4;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-weight: bold;
    letter-spacing: 2px;
}

.header__nav {
    display: flex;
    gap: 30px;
}

.header__link {
    text-decoration: none;
    color: #111;
    font-size: 14px;
}

.header__link__active {
    text-decoration: underline;
    color: #6d6666;
    font-size: 14px;
}

.header__link:hover {
    color: #c40000;
}


.hero {
    padding: 60px 0;
    margin-bottom: 0px;
}

.hero__title {
    font-size: 60px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.03em;
    max-width: 956px;
    margin-bottom: 25px;
}

.hero__image {
    position: relative;
}

.hero__image img {
    width: 100%;
    height: auto;
}

.hero__text {
    position: absolute;
    font-size: 20px;
    letter-spacing: -0.03em;
    bottom: 20px;
    left: 20px;
    color: white;
    max-width: 430px;
}


.about {
   
    padding: 80px 0;
}

.about__title {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
}

.about__text {
    width: 1048px;
    font-weight: 400;
    font-size: 45px;
    letter-spacing: -0.03em;
    margin-bottom: 30px;
}

.about__button {
    display: block;
    width: 255px;
    height: 67px;
    border: 1px solid #b10909;
    text-decoration: none;
    text-align: center;
    line-height: 67px;
    color: #ffffff;
    background: #b10909;
    border-radius: 5px;
}

.about__button:hover {
    background-color: #400101;
}


.projects {
    padding: 80px 0;
}

.projects__title {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
}

.projects__item {
    margin-bottom: 90px;
}

.projects__name {
    margin: 15px 0 5px;
    font-size: 16px;
}

.projects__link {
    font-size: 14px;
    text-decoration: none;
    color: #c40000;
}


.projects__button {
    width: 100%;
    height: 153px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: 1px solid #c40000;
    color: #c40000;
    text-decoration: none;
    margin-bottom: 150px;
}


.services {
    background: #111;
    padding: 80px 0;
    color: white;
    margin-bottom: 150px;
}

.services__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; 
}

.services__item {
    width: calc(50% - 10px);
    height: 455px;
    position: relative;
    margin-bottom: 45px;
}

.services__item img {
    width: 100%;
    height: 389px;
    object-fit: cover;
}

.services__badge {
    position: absolute;
    top: 32px;
    left: 30px;

    background: #c40000;
    color: white;

    padding: 6px 12px;
    font-size: 14px;
}


.services__text {
    position: absolute;
    bottom: 30px;
    left: 1px;
    color: white;
    font-size: 18px;
}



.services__title {
    margin-bottom: 30px;
}

.body_fixed {
    overflow: hidden;
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.popup_open {
    opacity: 1;
    visibility: visible;  
}

.popup__content {
    position: relative;
    width: 500px;
    max-height: 100%;
    overflow: scroll;
    padding: 20px;
    background-color: #ffffff;
}

.popup__title {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
    color: #b10909;
}

.popup__text {
    color: #400101;
}

.popup__close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    background-color: #b10909;
    cursor: pointer;
}

.gallery__title {
    font-size: 24px;
}

.gallery__slide {
    height: 717px;
    position: relative;
}

.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__label {
    position: absolute;
    top: 60px;
    left: 205px;
    color: white;
    font-size: 16px;
}


.gallery__title {
    position: absolute;
    bottom: 80px;
    left: 205px;
    font-size: 24px;
    color: white;
    max-width: 450px;
}

.gallery__slides {
    display: flex;
    position: relative;
    width: 100%;
    height: 717px;
    overflow: hidden;
}



.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;           /* по умолчанию слайд скрыт */
    transition: opacity 0.5s ease;
}

.gallery__slide_active {
  opacity: 1;  
}

.gallery-section {
    overflow: hidden;
}


.gallery__slide::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
}


.gallery__controls {
    position: absolute;
    left: 195px;
    bottom: 160px;
}


.contacts {
    padding: 80px 0; 
}

.contacts__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.contacts__info {
    width: calc(50% - 30px);
    position: relative;
    margin-bottom: 45px;  
}


.contacts__logo {
    width: 24px;
    height: 24px;
    margin-bottom: 15px;
}

.contacts__phone {
    display: block;
    font-size: 60px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #111;
}

.contacts__title {
    margin-bottom: 30px;
}

.contacts__email {
    text-decoration: none;
    color: gray;
    font-size: 60px;
}


.footer {
    background: #111;
    color: white;
    padding: 40px 0;
    text-align: center;
}

.footer__nav {
    margin-bottom: 87px;
}

.footer__copy {
    color: #6d6666;
}

.footer__nav a {
    color: white;
    margin: 0 27px;
    text-decoration: none;
}

.footer__nav a.active {
    text-decoration: underline;
    color: #6d6666;
    font-size: 18px;
}


.reviews_title {
    font-size: 18px;
    margin-bottom: 30px;
}

.reviews_list {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 150px;
}

.review_big {
    grid-column: 1 / span 2;
    max-width: 900px;
}



.review_title {
    font-size: 45px;
    margin-bottom: 14px;
}

.review_text  {
   font-weight: 400;
   font-size: 22px;
   letter-spacing: -0.03em;
   margin-bottom: 15px;
}

@media (max-width: 1199px) {
  .hero__title {
    font-size: 50px;
    max-width: 100%;
}

  .hero__text {
        width: 340px;
        font-size: 20px;
        letter-spacing: -0.03em;
    }

     .about__text {
        font-size: 30px;
        max-width: 700px;
    }

    .projects__item {
        margin-bottom: 60px;
    }


    .services__item {
    margin-bottom: 25px;

}}


@media (max-width: 767px) {
    .header {
    padding: 25px 0;
    background: #f4f4f4;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
   width: 96px;
   height: 16px;
   
}

.header__nav {
    display: flex;
    gap: 10px;
}

.header__link {
    text-decoration: none;
    color: #111;
    font-size: 12px;
}

.header__link__active {
    text-decoration: underline;
    color: #6d6666;
    font-size: 12px;
}





   .hero {
    padding: 13px 12px;
   }


    .hero__title {
        width: 348px;
        font-size: 16px;
        letter-spacing: -0.03em;
    }

    .hero__text {
        max-width: 320px;
        font-size: 16px;
        bottom: 15px;
        left: 15px;
  }

  .hero__image img {
  height: 100%;
  object-fit: cover;
}

.hero__image {
  height: 304px;
  overflow: hidden; 
}

   .about {
       padding: 12px 17px; 
    }

    .about__title {
        font-size: 14px;
        letter-spacing: -0.03em;
        margin-bottom: 10px;
    }

    .about__text {
        width: 350px;
        font-size: 22px;
        letter-spacing: -0.03em;
  }

  .about__button {
    width: 60%;
    height: 55px;
    line-height: 55px;
  }

  .projects {
    padding: 12px 12px;
}  

  .projects__item {
    margin-bottom: 30px;
  }

  .projects__name {
    font-size: 14px;
  }

  .projects__button {
    width: 100%;
    text-align: center;
    height: 100px;
  }
 img {
    max-width: 350px;
    height: auto;
    object-fit: cover;
    
 }


 .services__list {
    margin: 0 auto;
 }

.services__item {
    width: 100%;
    height: 281px;
    overflow: hidden;
    position: relative; 
    
}
.services__item img {
    object-fit: cover;
    display: block;    
    width: 100%;
    height: 100%;
}
.reviews_list {
    display: contents;
    margin: 0 auto;
    
    margin-bottom: 50px;
}
.review {
    width: 100%;
}

.review_title {
    font-size: 25px;
}

.review_text {
    font-size: 16px;
}

.gallery__image {
    margin: 0 auto;
    object-fit: contain;
    display: block;    
    width: 100vw;
    height: 100vh;
}

.gallery__controls {
    position: absolute;
    top: 50%; 
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 30px; /* отступ от краев */
}

.gallery__label {
    font-size: 14px;
    top: 140px;
    left: 30px;
}

.gallery__title {
    font-size: 19px;
    bottom: 58%;
    left: 30px;
}

.gallery__slides {
    height: 320px;
   
}

.contacts__info {
    width: 100%;
}

.contacts__logo {
    width: 24px;
    height: 20px;
    margin-bottom: 15px;
}

.contacts__phone {
    font-size: 35px;
}

.contacts__title {
    margin-bottom: 15px;
}

.contacts__email {
    font-size: 35px;
}

.footer {
    background: #111;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer__nav {
    margin-bottom: 87px;
}

.footer__copy {
    color: #6d6666;
}

.footer__nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 12px;
}

.footer__nav a.active {
    text-decoration: underline;
    color: #6d6666;
    font-size: 12px;
}
}
